version: "3.9"

services:
  backend:
    build:
      context: ./docker/php
    container_name: notes-backend
    volumes:
      - ./backend:/var/www/html
    working_dir: /var/www/html
    command: php-fpm

  nginx:
    image: nginx:alpine
    container_name: notes-nginx
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  frontend:
    image: node:20-alpine
    container_name: notes-frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev -- --host"
    ports:
      - "5173:5173"
